body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: lable;
  src: url(../public/Sansation_Regular.ttf);
}

@font-face {
  font-family: main;
  src: url(../public/ElaineKinandhita.ttf);
}

h1{
  font-family: main;
  letter-spacing: 0.05em;
}